body {
	-webkit-text-size-adjust: none;
	margin: 0;
	font: 14px/1.5 'Noto Sans KR', 'SCoreDream', sans-serif;
}
h1,h2,h3,h4,h5,h6,p,figure,ul,ol,dl,dd,fieldset,pre {margin: 0;}
ol, ul, td, fieldset {padding: 0;}
input, select, textarea, button, pre, a {
	font : {
		family: inherit;
		size: inherit;
		weight: inherit;
	}
	line-height: inherit;
	letter-spacing: inherit;
	color: inherit;
	text-decoration: none;
}
input, select, textarea {
	margin: 0; padding: 0 10px;
	-webkit-appearance: none;
  border: 1px solid;
	border-radius: 0;
	box-sizing: border-box;
	vertical-align: top;
  resize: none;
}
textarea {
  padding: 10px;
  border: 1px solid #cdd8db;
}
input[type="checkbox"],
input[type="radio"] {
  opacity: 0;
}
input[type="password"],
input[type="text"] {
  height: 32px;
  padding: 0 10px;
  border: 1px solid #cdd8db;
}
.input_cal {
  background: url('../images/icon/icon_cal.png') no-repeat right 10px top 50%;
}
select::-ms-expand {display:none;}
select {
  height: 34px;
  padding: 0 40px 0 10px;
  background: #fff url('../images/icon/icon_select.png') no-repeat right 10px top 50%;
  border: 1px solid #cdd8db;
}
li {list-style: none;}
table {
	width: 100%;
  table-layout: fixed;
	border-collapse: collapse;
	border: 0;
}
fieldset, img {border: 0;}
img {
	vertical-align: top;
	max-width: 100%;
}
label, td img {vertical-align: middle;}
h1,h2,h3,h4,h5,strong,b,th {font-weight: 600;}
legend, caption, .blind {display: none;}
address, em {font-style: normal;}
button {
	margin: 0;
	padding: 0;
	overflow: visible;
	cursor: pointer;
	background: none;
	border: 0;
	border-radius: 0;
	> span {position: relative;}
}
pre {white-space: pre-line;}



/*sub_tabMenu*/
.sub_tabMenu {margin: 30px 0 50px;}
.sub_tabMenu .tabBox {display: flex; width: 100%; overflow: hidden;}
.sub_tabMenu .tabBox > li {flex: 1; border-right: 1px solid #ddd;}
.sub_tabMenu .tabBox > li:last-child {border-right: none;}
.sub_tabMenu .tabBox > li > a {display: block; height: 50px; line-height: 50px; background: #eeeeee; color:#000; font-size: 20px; text-align: center;}
.sub_tabMenu .tabBox > li.active > a {background: #04a6e1 url("http://kftr.re.kr/images/common/kasti_actTab.png") no-repeat center bottom; color:#fff;}

.admin {
  &_wrap {
    min-width: 1100px;
    .paging {
      margin: 55px 0 0 -130px;
    }
  }
  &_header_top {
    position: fixed;
    top: 0; right: 0; left: 130px;
    z-index: 10;
    padding: 0 30px;
    height: 103px;
    background: #fff;
    border-bottom: 1px solid #24262c;
  }
  &_title {
    padding-top: 45px;
    color: #4a4a4a;
    font-size: 24px;
  }
  &_snb {
    position: fixed;
    top: 0; bottom: 0; left: 0;
    z-index: 20;
    width: 130px;
    background: #24262c;
  }
  &_ci {
    position: relative;
    padding-top: 45px;
    height: 103px;
    box-sizing: border-box;
    text-align: center;
    &:after {
      content: "";
      position: absolute;
      right: 0; bottom: 0; left :0;
      border-bottom: 1px solid #fff;
      opacity: .11;
    }
  }
  &_nav {
    margin: 22px 0;
    &_item a {
      display: block;
      padding: 14px 29px 14px 0;
      text-align: right;
      color: #fff;
      font-size: 16px;
    }
    &_item_active {
      background: #005fae;
    }
  }
  &_footer {
    padding-bottom: 58px;
    text-align: center;
    font-size: 11px;
    color: rgba(72, 72, 72, 0.3);
  }
  &_container {
    margin-left: 130px;
    padding: 103px 30px 80px;
  }
  &_page_title {
    margin: 38px 0 32px;
    font-size: 24px;
    line-height: 1;
    color: #005fae;
  }
  &_search {
    display: flex;
    margin: 0 0 32px;
    padding: 18px 32px;
    align-items: center;
    background: #f9f9f9;
    .search_column ~ .search_column {margin-left: -1px;}
    select {
      width: 185px; height: 34px;
      padding: 0 22px;
      background: #fff url('../images/icon/icon_select.png') no-repeat right 12px top 50%;
      border: 1px solid #cdd8db;
      color: #4a4a4a;
    }
    input[type="text"] {
      width: 330px; height: 34px;
      padding: 0 22px;
      border: 1px solid #cdd8db;
    }
    .btn_admin {
      width: 70px; height: 34px;
    }
  }
}
.table_header {
  width: 100%;
  margin: 0 0 9px;
  .pos_left {
    float: left;
  }
  .pos_right {
    float: right;
  }
  .btn_admin {padding: 0 32px;}
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
.table_title {
  margin: 0 0 5px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -1px;
}
.table_title2 {
  padding: 10px 0;
  box-sizing: border-box;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -.85px;
  text-align: center;
  background: #5f63d3;
  color: #fff;
}
.table_footer {
  margin-top: 21px;
  .pos_right {
    float: right;
  }
  .btn_admin {padding: 0 32px;}
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
.table_list {
  border: 1px solid #e3e3e3;
  > thead th {
    position: relative;
    height: 51px;
    background: #f7f6fa;
    font-size: 17px;
    font-weight: 500;
    border-bottom: 2px solid #dad9dc;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      height: 20px;
      border-left: 1px solid #e3e3e3;
      transform: translateY(-50%);
    }
    &:first-child:before {display: none;}
  }
  > tbody td {
    height: 65px;
    font-size: 17px;
    text-align: center;
  }
  > tbody > tr:nth-of-type(2n) > td {padding: 0 38px 38px;}
  > tbody > tr.bg > td,
  > tbody > tr.bg + tr.bg > td {background: #fcfcfa;}
  > tbody > tr.bg > td {border-top: 1px solid #e3e3e3;}
  > tbody > tr.bg + tr.bg > td {border: 0;}
  > tbody > tr.bg + tr.bg + tr td {border-top: 1px solid #e3e3e3;}
  > tbody > tr.isShow + tr {display: table-row !important;}
  .state1 {color: #4949e8;}
  .btn {
    padding: 2px 14px;
    border: 1px solid #5f6ee2;
    font-size: 16px;
    color: #5f6ee2;
  }
  .btn_toggle {
    width: 30px; height: 30px;
    background: url('../images/btn/btn_toggle.png') no-repeat;
    font-size: 0;
  }
  .isShow .btn_toggle {transform: rotate(180deg);}
  td table {
    border: 1px solid #e3e3e3;
  }
  td th {background: #f8f9f8;}
  td td {background: #fff;}
  td th, td td {
    height: 46px;
    border: 1px solid #e3e3e3;
    font-weight: 400;
    color: #2b2b2b;
  }
  .btn_file {
    width: 29px; height: 28px;
    background: url('../images/icon/icon_file2.png') no-repeat;
    font-size: 0;
  }
  .contact {
    position: relative;
    padding: 0 44px;
    background: #d9dcf5;
    text-align: left;
    &:before {
      content: "";
      position: absolute;
      top: 50%; left: 22px;
      margin-top: -6px;
      width: 8px; height: 8px;
      border: solid #000;
      border-width: 0 0 2px 2px;
    }
    span {
      display: inline-block;
    }
    .item ~ .item {
      margin-left: 60px;
    }
    .key {color: #4a4a4c;}
    .val {
      position: relative;
      margin-left: 6px;
      padding-left: 12px;
      color: #5858c3;
      &:after {
        content: "";
        position: absolute;
        top: 50%; left: 0;
        margin-top: -7px;
        width: 2px; height: 16px;
        background: #797a82;
      }
    }
  }
}
.table_list2 {
  overflow-y: hidden;
  overflow-x: auto;
  &::-webkit-scrollbar {
    width: 5px; height: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: #e9e9e9;
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #4a4a4a;
    border: 2px solid transparent;
    background-clip: padding-box;
  }
  &::-webkit-scrollbar-track {
    background: #f9f9f9;
  }
  table {
    min-width: 1100px;
    text-align: center;
    table-layout: auto;
    .left {text-align: left;}
    .right {text-align: right;}
  }
  thead th {
    position: relative;
    padding: 0 5px;
    height: 56px;
    background: #2385d7;
    white-space: nowrap;
    font-size: 13px;
    line-height: 1.23;
    font-weight: 400;
    color: #fff;
    border-bottom: 1px solid #24262c;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      height: 16px;
      border-left: 1px solid #fff;
      opacity: .28;
      transform: translateY(-50%);
    }
    &:first-child:before {display: none;}
  }
  tbody td {
    height: 46px;
    padding: 0 5px;
    background: #f9fafc;
    font-size: 13px;
    color: #4a4a4a;
    white-space: nowrap;
    border-bottom: 1px solid #e9e9e9;
    &.elips {
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .btn {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
  tbody tr:nth-of-type(2n) td {
    background: #fff;
    border-bottom: 1px solid #f0f0f0;
  }
  .btn_del {
    height: 19px;
    padding: 0 10px;
    font-size: 12px;
    background: #8f929a;
    color: #fff;
  }
  .btn_file {margin-right: 3px;}
  .btn_file:before {
    content: "";
    display: inline-block;
    width: 20px; height: 19px;
    background: url('../images/icon/icon_file.png') no-repeat;
    margin-right: 4px;
    vertical-align: -4px;
  }
  .btn_cal:after {
    content: "";
    display: inline-block;
    width: 22px; height: 22px;
    background: url('../images/icon/icon_cal2.png') no-repeat;
    margin-left: 4px;
    vertical-align: -4px;
  }
}

.table_form {
  th {
    background: #f7f6fa;
    text-align: left;
    padding: 10px 0 10px 28px;
    font-size: 17px;
    font-weight: 500;
    vertical-align: top;
  }
  td {
    height: 50px;
    padding: 0 9px;
  }
  th, td {
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
  }
  .btn_input {
    height: 32px;
    margin-left: -4px;
    padding: 0 10px;
    background: #898989;
    color: #fff;
  }
  .td_form1 {
    padding: 10px 16px;
  }
  .td_form1_row {width: 330px;}
  .td_textarea {padding: 7px 10px;}
  .td_upload {padding: 10px 10px 14px;}
  .payment {
    padding: 5px 20px 0;
    strong {
      font-size: 24px;
      color: #5f6ee2;
    }
    font-size: 17px;
  }
}
.td_form {
  span ~ span {margin-left: 5px;}
  input {vertical-align: 0;}
}

.td_form1 {
  .input_txt input[type="text"]{
    width: 71px; height: 31px;
    padding: 0 17px;
    text-align: right;
    border: 1px solid #e6e6e6;
    border-radius: 31px;
    vertical-align: 0;
  }
}
.td_form1_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.td_form1_row ~ .td_form1_row {
  margin-top: 7px;
}
.td_chk {
  .input_chk ~ .input_chk {
    margin-left: 30px;
  }
  .input_chk input[type="radio"] ~ span:before {vertical-align: -5px;}
}
.upload_btn {
  display: flex;
  justify-content: space-between;
  margin: 0 0 6px;
}
.upload_box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 117px;
  background: #f8f8f8;
  border: 1px solid #e3e3e3;
  color: #898989;
  p {
    padding-left: 60px;
    background: url('../images/icon/icon_upload.png') no-repeat 0 50%;
  }
}

.btn_admin {
  display: inline-block;
  box-sizing: border-box;
  height: 34px;
  &.color_type1 {
    background: #005fae;
    color: #fff;
  }
  &.color_type2 {
    background: #fff;
    color: #0b0b0b;
    border: 1px solid #c5d2d5;
  }
  &.color_type3 {
    padding: 0 15px;
    background: #47484b;
    color: #fff;
    border: 1px solid #47484b;
  }
}

.paging {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 36px 0 0;
  .btn_nav {
    position: relative;
    width: 14px; height: 30px;
    font-size: 0;
    margin: 0 4px;
    overflow: hidden;
    &:before, &:after {
      content: "";
      position: absolute;
      top: 50%; left: 50%;
      margin: -5px 0 0 -5px;
      width: 10px; height: 10px;
      border: solid #005fae;
      border-width: 2px 2px 0 0;
      box-sizing: border-box;
    }
    &_start, &_prev {
      &:before, &:after {
        transform: rotate(-135deg);
      }
    }
    &_start:before {margin-left: 0;}
    &_next, &_end {
      &:before, &:after {
        transform: rotate(45deg);
      }
    }
    &_end:before {margin-left: -10px;}
    &_prev:before, &_next:before {display: none;}
    &:disabled {
      opacity: .5;
      cursor: default;
    }
  }
}
.paging_number {
  display: flex;
  margin: 0 5px;
  button {
    min-width: 30px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid #ececec;
    border-radius: 5px;
    &:disabled {
      color: #005fae;
      cursor: default;
    }
  }
  button ~ button {margin-left: 5px;}
}

.btn_type {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 155px; height: 51px;
  border-radius: 10px;
  font-size: 17px;
  &:disabled {
    opacity: .4;
  }
  &.color_type1 {
    background: #343539;
    color: #fff;
  }
  &.color_type2 {
    background: #fff;
    color: #343539;
    border: 1px solid #343539;
  }
  &.color_type3 {
    background: #5f63d3;
    color: #fff;
    border: 1px solid #5f63d3;
  }
  &.arrw_prev:before,
  &.arrw_next:before {
    content: "";
    position: absolute;
    top: 50%;
    width: 30px; height: 30px;
    margin-top: -15px;
    background: url('../images/btn/btn_cal_control.png') no-repeat;
  }
  &.arrw_prev {
    padding-left: 10px;
    &:before {
      left: 10px;
      transform: rotate(180deg);
    }
  }
  &.arrw_next {
    padding-right: 10px;
    &:before {right: 10px;}
  }
}
.btn_type2 {
  padding: 5px 17px;
  font-size: 15px;
  &.color_type1 {
    background: #fff;
    border: 1px solid #898989;
    color: #4a4a4c;
  }
  &.color_type2 {
    background: #f8f9f8;
    border: 1px solid #e1e1e1;
    color: rgba(74, 74, 76, 0.7);
  }
  &.color_type3 {
    background: #5f63d3;
    color: #fff;
  }
}

.btn_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  &_type2 {
    margin-top: 15px;
  }
  &_type3 {
    margin-top: 30px;
  }
  &_type4 {
    margin-top: 55px;
  }
}

.input_chk {
  position: relative;
  input[type="checkbox"] {
    position: absolute;
    ~ span:before {
      content: "";
      display: inline-block;
      width: 19px; height: 19px;
      margin-right: 8px;
      background: #fff url('../images/icon/icon_chk2.png') no-repeat 50% 50%;
      border: 1px solid #c1c1c1;
      box-sizing: border-box;
      vertical-align: -3px;
    }
    &:checked ~ span:before {
      background-color: #5f6ee2;
      border-color: #5f6ee2;
    }
  }
  input[type="radio"] {
    position: absolute;
    ~ span:before {
      content: "";
      display: inline-block;
      width: 21px; height: 21px;
      margin-right: 7px;
      background: #fff url('../images/icon/icon_radio.png') no-repeat;
      border: 1px solid #c1c1c1;
      border-radius: 50%;
      box-sizing: border-box;
      vertical-align: -3px;
    }
    &:checked ~ span {
      color: #2f37d3;
    }
    &:checked ~ span:before {
      background-position: -1px 100%;
      border: 2px solid #5663e0;
    }
  }

  &.type2 input[type="checkbox"] {
    ~ span:before {
      background: #fff url('../images/icon/icon_chk3.png') no-repeat 0 1000%;
      border-color: #c1c1c1;
      vertical-align: -5px;
    }
    &:checked ~ span:before {
      background-position: 50% 50%;
      border-color: #c1c1c1;
    }
  }

  &.typeOne {
    font-size: 0;
    line-height: 0;
    input ~ span:before {
      margin: 0;
    }
  }
}

.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &.bg_wrap {
    background: #f8f9f8;
  }
}
.header {
  background: #fff;
  border-bottom: 1px solid #e9e9e9;
  &_top_noti {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px 0 10px;
    background: #5f63d3;
    color: #fff;
    font-family: 'SCoreDream';
    font-size: 15px;
  }
  &_inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 1100px; height: 94px;
    padding: 0 45px 0 9px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  &_title {
    padding: 0 0 23px;
    font-family: 'SCoreDream';
    font-size: 35px;
    line-height: 1;
    &:before {
      content: "";
      display: inline-block;
      width: 33px; height: 36px;
      margin-right: 7px;
      background: url('../images/icon/icon_title.png') no-repeat;
      vertical-align: -4px;
    }
  }
  &_breadcrumb {
    padding: 0 0 26px;
    color: #8e8e8e;
  }
}
.container {
  flex: 1;
  width: 1100px;
  margin: 0 auto;
  padding: 40px 30px 100px;
  box-sizing: border-box;
}
.footer {
  background: #1f1f1f;
  color: #fff;
  &_inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 1100px;
    margin: 0 auto;
    padding: 50px 60px 52px 0;
    box-sizing: border-box;
  }
  &_menu {
    display: flex;
    li ~ li {
      position: relative;
      margin-left: 20px;
      &:before {
        content: "|";
        position: absolute;
        top: -1px; left: -11px;
      }
    }
  }
  &_info {
    text-align: right;
    font-weight: 100;
    line-height: 22px;
    b {
      margin-left: 12px;
    }
  }
  &_ci {
    position: absolute;
    top: 41px; left: 52px;
  }
}

.login {
  &_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #fcecd2, #9dc9f7);
  }
  &_box {
    width: 452px;
    text-align: center;
  }
  &_desc {
    margin-top: 32px;
    font-size: 36px;
    line-height: 1;
    color: #433e3c;
    font-weight: 500;
    letter-spacing: -1.8px;
  }
  &_input_box {
    margin-top: 89px;
  }
  &_input {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 50%; left: 0;
      width: 69px; height: 37px;
      border-right: 2px solid #999;
      transform: translateY(-50%);
    }
    &_id:before {
      background: url('../images/icon/icon_login.png') no-repeat 60% 50%;
    }
    &_pw:before {
      background: url('../images/icon/icon_pw.png') no-repeat 60% 50%;
    }
    input {
      width: 100%;
      height: 73px;
      padding: 0 20px 0 85px;
      border-radius: 73px;
      border: 0;
      font-size: 20px;
    }
    &_util {
      display: flex;
      justify-content: center;
      gap: 98px;
      margin-top: 42px;
      font-size: 18px;
      color: #005fae;
      .chk_remember {
        display: flex;
        span {
          display: flex;
          align-items: center;
        }
        span:before {
          content: "";
          display: inline-block;
          width: 18px; height: 18px;
          margin-right: 13px;
          box-sizing: border-box;
          background: #fff url('../images/icon/icon_chk.png') no-repeat 50% 50%;
          border: 1px solid #a4b7c6;
          border-radius: 3px;
        }
        input:checked ~ span:before {
          background-color: #005fae;
          border-color: #005fae;
        }
      }
    }
  }
  &_input ~ &_input {
    margin-top: 18px;
  }
  &_btn_wrap {
    display: flex;
    justify-content: center;
    gap: 21px;
    margin-top: 42px;
    .btn_type {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 151px; height: 60px;
      border-radius: 20px;
      font-size: 22px;
      font-weight: 500;
    }
    .btn_type1 {
      color: #fff;
      background: #005fae;
    }
    .btn_type2 {
      color: #005fae;
      background: #fff;
    }
  }
}

.page_header {
  display: flex;
  width: 100%;
  align-items: center;
}
.page_title {
  margin: 0 0 15px 20px;
  font: {
    size: 24px;
    family: 'SCoreDream';
    weight: 500;
  }
}
.page_desc {
  margin: -18px 0 0 15px;
  padding-left: 13px;
  border-left: 2px solid #000;
  opacity: .7;
  font-size: 17px;
  line-height: 20px;
}


.box_spt {
  display: flex;
  justify-content: space-between;
}
.box_type1 {
  background: #fff;
  border-radius: 24px;
  padding: 20px;
  box-sizing: border-box;
  .form_board {
    margin: 18px;
  }
}
.box_type2 {
  padding: 20px 40px;
  background: #fff;
  border-radius: 12px;
  .acco_box {
    margin: 0 10px;
  }
  .acco_cont {
    padding: 0 0 10px;
  }
}
.box_type2 ~ .box_type2 {margin-top: 23px;}
.box_type_pd {
  padding: 40px 50px 68px;
}

.tab {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  margin: 0 0 22px;
  text-align: center;
  li {
    position: relative;
    flex: 1;
  }
  li:first-child {border-left: 1px solid #d1d2ed;}
  button {
    width: 100%;
    height: 87px;
    background: #ececf9;
    border: 1px solid #d1d2ed;
    border-left: 0;
  }
  .on {
    button {
      background: #5f63d3;
      border-color: #5f63d3;
    }
    strong {
      color: #fff;
    }
  }
  .on:after {
    content: "";
    position: absolute;
    top: 100%; left: 50%;
    margin-left: -10px;
    border: 10px solid transparent;
    border-top: 12px solid #5f63d3;
    border-bottom: 0;
  }
  span {
    display: inline-block;
    box-sizing: border-box;
    height: 87px;
    padding-top: 20px;
    text-align: left;
    padding-left: 40px;
    font-size: 15px;
    line-height: 1.3;
    font-weight: 500;
    color: #9294d3;
    background: {
      position: 0 50%;
      repeat: no-repeat;
    }
  }
  strong {
    display: block;
    font-size: 19px;
    font-weight: 500;
    color: #5f63d3;
  }
  .step1 span {background-image: url('../images/icon/icon_step1.png'); }
  .step2 span {background-image: url('../images/icon/icon_step2.png'); }
  .step3 span {background-image: url('../images/icon/icon_step3.png'); }
  .step4 span {background-image: url('../images/icon/icon_step4.png'); }
  .step1.on span {background-image: url('../images/icon/icon_step1_on.png'); }
  .step2.on span {background-image: url('../images/icon/icon_step2_on.png'); }
  .step3.on span {background-image: url('../images/icon/icon_step3_on.png'); }
  .step4.on span {background-image: url('../images/icon/icon_step4_on.png'); }
}
.form_board {
  th {
    position: relative;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
    vertical-align: top;
    font-size: 17px;
    span {
      position: relative;
      display: block;
      padding-left: 14px;
    }
    span:before {
      content: "◼︎";
      position: absolute;
      top: 12px; left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 4px; height: 4px;
      font-size: 30px;
      overflow: hidden;
      border-radius: 50%;
    }
  }
  td {
    color: rgba(0, 0, 0, 0.9);
    font-size: 17px;
  }
  tr ~ tr th,
  tr ~ tr td {
    padding-top: 30px;
  }
  .td_chk .input_chk ~ .input_chk {
    margin-left: 45px;
  }
  .td_chk2 .input_chk ~ .input_chk {
    margin-left: 35px;
  }
}

.list_board {
  th, td {
    font-size: 17px;
    font-weight: 400;
    border: 1px solid #e3e3e3;
  }
  thead th {
    padding: 10px 0;
    background: #f7f6fa;
  }
  td {
    padding: 10px;
    text-align: center;
  }
}

.test_item_box {
  width: 464px;
  margin: 60px auto 0;
  text-align: center;
  .tit {
    font-size: 21px;
  }
  .txt {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 15px;
    font-size: 16px;
  }
  .img {
    margin-top: 10px;
  }
}
.payment_result {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0;
  overflow: hidden;
  &_tit {
    margin: 0 34px 10px;
    color: #5f6ee2;
    font-size: 17px;
  }
  &_box {
    width: 100%;
    padding: 0 32px 25px;
    background: #5f6ee2;
    text-align: right;
    color: #fff;
  }
  &_value {
    font-size: 26px;
    .num {
      font-size: 32px;
    }
    .txt {font-weight:3 00;}
  }
  &_vat {
    font-size: 15px;
    opacity: .7;
  }
}

.acco {
  &_box[open] &_tit:after {
    transform: perspective(11px) rotateX(0);
  }
  &_tit {
    position: relative;
    font-size: 18px;
    letter-spacing: -1px;
    cursor: pointer;
    &::marker {
      display: none;
      content: "";
    }
    &:after {
      content: "";
      position: absolute;
      top: 50%; right: 0;
      width: 18px; height: 11px;
      margin-top: -6px;
      background: url('../images/icon/icon_arrw.png') no-repeat;
      transform: perspective(20px) rotateX(-180deg);
      transition: transform .5s;
    }
    .etc {
      margin-left: 13px;
      font-size: 14px;
      color: #7d7d7d;
    }
  }
  &_cont {
    margin-top: 15px;
  }
}

.complete {
  &_box {
    margin: 0 0 42px;
    background: #fff;
    text-align: center;
  }
  &_tit {
    padding: 60px 0 32px;
    font-size: 29px;
    line-height: 45px;
    letter-spacing: -1.45px;
    color: #5f63d3;
  }
  &_txt {
    font-size: 19px;
    line-height: 27px;
    opacity: .58;
  }
  &_txt2 {
    margin-top: 40px;
    font-size: 19px;
    color: #343539;
  }
  &_price_box {
    position: relative;
    padding: 36px 0;
    margin-top: 45px;
    background: #f9f8fd;
    border: 1px solid #c9c8cb;
    &:after {
      content:"";
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
      border: 6px solid #edeaf7;
    }
  }
  &_price_txt {
    position: relative;
    z-index: 2;
    color: #343539;
    font-size: 20px;
    box-sizing: border-box;
  }
  &_price_txt2 {
    position: relative;
    z-index: 2;
    opacity: .58;
    margin-top: 20px;
  }
  &_price_value {
    color: #5f63d3;
    .num {
      display: inline-block;
      vertical-align: 0;
      font-size: 32px;
      font-weight: 500;
    }
  }
}


.cal_wrap {
  max-width: 1100px;
  padding: 0 0 42px;
  border-radius: 24px;
  background: #fff;
  border: 1px solid #f8f9f8;
}
.cal_head {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 82px;
  border-radius: 24px 24px 0 0;
  color: #fff;
  background: #323347;
  font-size: 20px;
  text-align: center;
  strong  {
    color: #9b9eff;
  }
}
.cal_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 82px;
  padding: 0 40px;
  .cal_month {
    display: flex;
    align-items: center;
  }
  .month {
    font: {
      weight: 500;
      size: 25px;
    }
    color: #5f63d3;
  }
  .today {
    width: 91px; line-height: 30px;
    text-align: center;
    background: #ececec;
    border-radius: 30px;
    margin-left: 7px;
    font-size: 16px;
    color: #868698;
  }
  .btn_nav {
    &:disabled {opacity: .5;}
    i {
      display: inline-block;
      width: 34px; height: 34px;
      border: 1px solid #e0e9eb;
      background-image: linear-gradient(to top, #f6f8f9, #fff);
      vertical-align: -11px;
      box-sizing: border-box;
    }
  }
  .btn_nav_prev i {margin-right: 10px;}
  .btn_nav_prev i:before {
    content: "";
    display: inline-block;
    width: 100%; height: 100%;
    background: url('../images/btn/btn_cal_month.png') no-repeat;
  }
  .btn_nav_next i {margin-left: 10px;}
  .btn_nav_next i:after {
    content: "";
    display: inline-block;
    width: 100%; height: 100%;
    background: url('../images/btn/btn_cal_month.png') no-repeat;
    transform: rotate(180deg);
  }
}
.cal_body {
  width: 960px;
  margin: 0 auto;
  border: {
    width: 1px 0 0 1px;
    style: solid;
    color: #f1f2f2;
  }
  user-select: none;
  .item {
    position: relative;
    border: {
      width: 0 1px 1px 0;
      style: solid;
      color: #f1f2f2;
    }
    box-sizing: border-box;
  }
  &_day {
    display: flex;
    flex-wrap: wrap;
  }
  &_day .item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14.2%;
    height: 45px;
    font-size: 15px;
    color: rgba(127, 127, 127, 0.55);
  }
  &_day .sun {
    width: 14.8%;
    color: #ff486f;
  }
  &_date {
    display: flex;
    flex-wrap: wrap;
  }
  &_date .item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 14.2%; min-height: 122px;
    padding: 30px 6px 0;
    &.isSelected:before {
      content: "";
      position: absolute;
      top: -1px; right: -1px; bottom: -1px; left: -1px;
      border: 1px solid #7950ff;
    }
  }
  &_date .sun {
    width: 14.8%;
    .date {color: #ff486f;}
  }
  &_date .date {
    position: absolute;
    top: 4px; left: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px; height: 30px;
    font-size: 15px;
    border-radius: 10px;
    color: #646464;
  }
  &_date .today .date {
    color: #fff;
    background: #5f63d3;
    font-weight: bold;
  }
  .reg_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; height: 28px;
    padding: 0 4px 0 8px;
    border-radius: 4px;
    box-sizing: border-box;
    &.isDragging {
      position: fixed;
      cursor: grabbing;
      z-index: 10;
    }
    select {
      width: 51px; height: 22px;
      color: #3a3a3a;
      background: #fff;
      border-color: #e6ebec;
      padding: 0 7px;
      line-height: 1.2;
    }
    &:nth-of-type(1) {
      background: #edeaff;
      color: #6856cc;
    }
    &:nth-of-type(2) {
      background: #ffe3fa;
      color: #c33370;
    }
    &:nth-of-type(3) {
      background: #c9f3f3;
      color: #1c9b9b;
    }
  }
  .reg_items ~ .reg_items { margin-top: 2px; }
  .btn_reg {
    width: 95px;
    height: 34px;
    margin-top: -20px;
    border-radius: 6px;
    font-size: 16px;
    background-color: #f5f0f8;
    color: #9255e6;
    opacity: .7;
    &:disabled {
      opacity: 1;
      cursor: default;
    }
  }
}

.layer_pop {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0; left: -100vh;
  z-index: 100;
  background: #fff;
  border: solid 2px #ececec;
  box-sizing: border-box;
  &.isShow {display: flex;}
  &_tit {
    height: 64px;
    padding: 15px 22px;
    box-sizing: border-box;
    font: {
      size: 21px;
    }
    border-bottom: 2px solid #ececec;
  }
  &_input {
    padding: 6px 20px;
    th {
      font-size: 17px;
      font-weight: 500;
      color: #4a4a4c;
      text-align: left;
      ~ th {
        padding-left: 30px;
      }
    }
    td {
      padding: 5px 0;
      input, select {
        width: 100%; height: 39px;
        font-size: 17px;
        color: #4a4a4c;
        border: 1px solid #cfcfcf;
      }
    }
    .btn_input {
      height: 39px;
      margin-left: -4px;
      padding: 0 10px;
      background: #898989;
      color: #fff;
    }
  }
  .btn_wrap {
    padding: 20px 0;
    background: #f8f8f8;
  }
  .btn_type {
    width: 121px; height: 40px;
    border-radius: 20px;
    font-size: 16px;
  }
}


.print_wrap {
  width: 820px;
  margin: 0 auto;
  padding: 25px 65px 0;
  box-sizing: border-box;
  h1 {
    margin: 0 0 35px;
    padding-top: 45px;
    font-size: 32px;
    line-height: 1;
    letter-spacing: 3.2px;
    text-align: center;
  }
  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .sign-table {
    width: 276px;
    th, td {
      padding: 0;
      border: 2px solid #7a7a7a;
    }
    th {
      height: 30px;
      background: none;
      font-size: 15px;
    }
    td {width: 66px; height: 60px;}
  }
  .table1 {
    border: 3px solid #e3e3e3;
    table ~ table {margin-top: -1px;}
    &.type2 th {
      font-size: 16px;
    }
    &.type2 td {
      text-align: left;
      font-size: 13px;
      padding: 5px 16px;
      letter-spacing: -.65px;
    }
    &.type2 .th {
      text-align: center;
      padding: 0;
    }
    .input_chk {
      margin-right: 45px;
    }
    .list {
      position: relative;
      padding-left: 6px;
      text-align: left;
      &:before {
        content: "◼︎";
        position: absolute;
        top: 8px; left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2px; height: 2px;
        font-size: 30px;
        overflow: hidden;
        border-radius: 50%;
      }
    }
    &.type2 td.td_etc {
      padding: 20px 34px 30px;
    }
    .list_title {
      position: relative;
      margin: 0 0 10px;
      color: #5f6ee2;
      padding-left: 6px;
      &:before {
        content: "◼︎";
        position: absolute;
        top: 8px; left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2px; height: 2px;
        font-size: 30px;
        overflow: hidden;
        border-radius: 50%;
      }
    }
  }
  .table1 th,
  .table1 td {
    border: 1px solid #e3e3e3;
  }
  .table2 {
    border: 1px solid #e3e3e3;
  }
  .table2 th,
  .table2 td {
    border-top: 1px solid #e3e3e3;
    text-align: center;
  }
  .table2 th {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      height: 12px;
      border-left: 1px solid #e3e3e3;
      transform: translateY(-50%);
    }
    &:first-child:before {
      display: none;
    }
  }

  th, td {
    padding: 10px 5px;
    text-align: center;
    font-weight: 500;
    line-height: 20px;
  }
  th {
    background: #f7f6fa;
    font-size: 17px;
  }
  td {
    font-size: 16px
  }
  .result th,
  .result td {
    border: 0;
  }
  .result .won {
    text-align: right;
    padding-right: 70px;
  }
  .total {
    color: #5f6ee2;
    th, td {font-size: 20px;}
    .won {
      padding-right: 52px;
      text-align: right;
    }
  }
  @media print {
    .btn_wrap {display: none;}
  }
}